.octo-linear-button {
  color: white;
  background-image: linear-gradient(137deg, #1486ff 4%, #2468f2) !important;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.octo-linear-button:hover {
  background-image: linear-gradient(137deg, #2468f2 4%, #1486ff) !important;
  filter: brightness(110%) !important;
}

.octo-linear-button:active {
  background-image: linear-gradient(137deg, #1486ff 4%, #2468f2) !important;
  filter: brightness(90%) !important;
}

.absolute {
  position: absolute;
}

.octo-blue {
  color: #2468f2;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

.hover-blue:hover {
  color: #2468f2 !important;
}

.transition {
  transition: all 0.3s ease;
}

.chakra-toast__inner {
  min-width: 0 !important;
}

.success-tx-link {
  max-width: 300px;
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tx-hash-ellipsis {
  max-width: 180px;
}

.vertical-timeline-element {
  margin: 1em 0;
}
